.text-center {
  text-align: center;
}

.drawer-option {
  padding: 16px;
}
#install{
  /*background-color: rgb(146, 210, 210);*/
  border-radius: 20px;
  background-color: darkorange;

}

.floating-button {/*div zentrieren des Floating Buttons  */
  padding: 15px;
  text-align: center;
  float: none;

}
/*.page-content{*/
/*  margin-top: 2cm;*/
/*}*/
main {
  background-image: url("https://wallpaperaccess.com/full/3637360.jpg");
  position: absolute;
}
/*Neu hinzugefügt*/
/*


.floating-button {
  padding: 30px;
  float:left;
}
#shared-moments{
  float: left;
  margin: auto;
}
/*in Mobiler Ansicht S ,M und L*/
/*@media (min-device-width: 320px) and (max-device-width: 425px) {

  .floating-button {!*zentrieren des Floating Buttons  *!
    padding: 30px;
    text-align: center;
    float: none;
  }
  #shared-moments{
    flex-direction: row;
    padding: 30px;
    float: none;
    margin:20px;

  }


}*/

/*Mobile Ansicht*/
/*
@media (min-width: 426px) {
  .shared-moment-card.mdl-card {
    width: 60%;
    float: left;
    margin:10px;
  }
  #shared-moments{
    flex-direction: column;
    padding: 30px;
    float: none;
    margin:20px;

  }
  .shared-moment-card .mdl-card__title {
    height: 250px;
  }

}*/



