.text-center {
  text-align: center;
}

.drawer-option {
  padding: 16px;
}
#install{
  /*background-color: rgb(146, 210, 210);*/
  border-radius: 20px;
  background-color: darkorange;

}
.page-content{
  margin-top: 2cm;
}
main {
  background-image: url("https://wallpaperaccess.com/full/3637360.jpg");
  position: absolute;
}
/*Neu hinzugefügt*/
/*

#navheader{
  position: fixed;
}
*/

@media (max-width: 480px) {
  .main{
    background-color: darkblue;
  }

}
/*#navheader{
  /*position: fixed;
  margin-bottom: 2cm;
}
/*.page-content{
    margin-top: 2cm;
}


!*Bis hier ist funktioniert alles*!

!*Media Querys hinzufügen für App und Tablett Ansicht*!
@media (max-width: 480px) and (min-width: 320px){
    .main{
        background-color: darkblue;
    }

}

*/