.text-center {
  text-align: center;
}

.drawer-option {
  padding: 16px;
}
#install{
  /*background-color: rgb(146, 210, 210);*/
  border-radius: 20px;

}

main {
  background-image: url("https://wallpaperaccess.com/full/3637360.jpg");
  position: absolute;
}

/*Bis hier ist funktioniert alles*/
