#create-post {/*Seite von CreateKarte*/
  z-index: 1001;
  position: fixed;
  width: 100%;
  min-height: calc(100vh - 56px);
  overflow-y: scroll;
  bottom: 0;
  top: 56px;
  background: white;
  text-align: center;
  /* visibility: hidden; */
  transform: translateY(100vH);
  transition: transform 0.3s;
}

#create-post video, #create-post canvas {
  width: 512px;
  max-width: 100%;
  display: none;
  margin: auto;
}

#create-post #pick-image {
  display: none;
}

#create-post #capture-btn {
  margin: 10px auto;
}

.mdl-spinner {
  margin: auto;
}


.input-section {
  display: block;
  margin: 10px auto;
}
.mdl-textfield__label{
  font-size: small;
}
.shared-moment-card.mdl-card {
  margin: 10px auto;
  width: 80%;
}
.shared-moment-card .mdl-card__title {
  height: 300px;
  border-radius: 10px;
  background-size: 100% 100%;
}

.whiteText {
  color: white;
}
/*Geolocation wird unsichtbar gemacht als erstes*/
#create-post #pick-image, #create-post #location-loader {
  display: none;
}



/*Tabllets und Desktop variante weil es ab 700px anfängt Desktop ist 1025px */
@media (min-width: 700px) {
  .shared-moment-card.mdl-card {
    /*width: 45%;
    margin: 10px;*/

  }
}



/*in Mobiler Ansicht S ,M und L*/
@media (min-device-width: 320px) and (max-device-width: 425px) {

  #shared-moments{
    flex-direction: row;
    padding: 30px;
    float: none;
    margin:20px;

  }
  #canvas{
    height: 100px;
  }
  /*.shared-moment-card .mdl-card__title {
    height: 300px;
  }*/
  /*!*Bilder und Titel*!
  .shared-moment-card .mdl-card__title {
    height: 300px;
  }
  .mdl-card__supporting-text{
    font-size: x-small;
  }*/


}


/*falls es kleiner ist als Tablett ansicht dann mach die Karten in 2 reihen*/
@media(min-width: 426px) and (max-width:580px) {

  .shared-moment-card.mdl-card {
    float: left;
    margin:10px;

  }
  .page-content{
    overflow-x: scroll;/*damit auf beiden seiten scrollbar ist*/
    overflow-y: scroll;
  }
  #shared-moments{
    /* flex-direction: column;*/
    padding: 30px;
    float: none;
    margin:20px;

    /*grid-auto-flow: column;*/
    display: grid;
    grid-gap: 2px;
    grid-template-columns: repeat(2, 1fr);/*Default placement Hier Link: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Grid_Layout/Auto-placement_in_CSS_Grid_Layout*/

  }


}
/*Tablett Ansicht 580px -770px*/
@media (min-width: 580px) and (max-width: 770px){
  .shared-moment-card.mdl-card {
    float: left;
    margin:10px;

  }
  .page-content{
    overflow-x: scroll;/*damit auf beiden seiten scrollbar ist*/
    overflow-y: scroll;
  }
  #shared-moments{
   /* flex-direction: column;*/
    padding: 30px;
    float: none;
    margin:20px;

    /*grid-auto-flow: column;*/
    display: grid;
    grid-gap: 2px;
    grid-template-columns: repeat(3, 1fr);/*Default placement Hier Link: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Grid_Layout/Auto-placement_in_CSS_Grid_Layout*/

  }



}
/*PC Ansicht*/
@media  (min-width: 770px) and (max-width: 1700px){
  #shared-moments{
    margin: 20px;
    grid-auto-flow: column;
    display: grid;
    grid-gap: 10px;

  }
  .page-content{
    overflow-x: scroll;/*damit auf beiden seiten scrollbar ist*/
    overflow-y: scroll;
  }
}


