#create-post {
  z-index: 1001;
  position: fixed;
  width: 100%;
  min-height: 100vh;
  overflow-y: scroll;
  bottom: 0;
  top: 56px;
  background: #ffff;
  text-align: center;
  display: none;
}

.main-image {
  max-width: 100%;
  margin: auto;
  display: block;
}

.floating-button {
  z-index: 1000;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 30px;
}

.input-section {
  display: block;
  margin: 10px auto;

}
.shared-moment-card.mdl-card {/*design der Karte*/
  margin: 20px ;/*margin:15px auto;*/
  height: 280px;
  width: 270px;
  float: left;/*damit es in einer zeile steht*/
}